@import "./../../styles.scss";

// Classes para panel
// success
  .ds-bg-panel-success {
    background-color: $color-success;
    color: white;
    border-radius: 4px !important;
  }

  .ds-ft-panel-success {
    background: white;
    color: $color-success;
    border-radius: 4px !important;
  }
  // Warning
  .ds-bg-panel-wrn {
    background-color: $color-warning;
    color: white;
    border-radius: 4px !important;
  }

  .ds-ft-panel-wrn {
    background: white;
    color: $color-warning;
    border-radius: 4px !important;
  }

  // Warning-orange
  .ds-bg-panel-warning-orange {
    background-color: $color-warning-orange;
    color: white;
    border-radius: 4px !important;
  }

  .ds-ft-panel-warning-orange {
    background: white;
    color: $color-warning-orange;
    border-radius: 4px !important;
  }

  // Error
  .ds-bg-panel-error {
    background-color: $color-error;
    color: white;
    border-radius: 4px !important;
  }

  .ds-ft-panel-error {
    background: white;
    color: $color-error;
    border-radius: 4px !important;
  }

 .ng-star-inserted {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
//  fim calsses para panel
