<form class="d-none d-sm-flex align-items-center form-inline   ">
    <div class="row d-flex align-items-center h-100 p-0 m-0">
      <div class="col d-flex align-content-center p-0">
          <input style="height: 22px;" class="form-control p-0 ds-lh ds-sb" type="search" placeholder=" Pesquisar..." aria-label="Search">
      </div>
      <div class="col d-flex align-content-center h-100 p-0 m-0">
          <button mat-icon-button matRipple class="align-self-center ds-sb p-0 ds-nav-menu a-font ">
            <i matRipple class="material-icons ds-isb-bg">search</i>
          </button>
      </div>
    </div>
  </form>
